openapi: 3.0.3
info:
  title: NanoBanana Pro API
  description: NanoBanana Pro (gemini-3-pro-image-preview) 高质量 AI 图像生成模型，支持 1K/2K/4K 分辨率。工作流程：创建任务 (POST /v1/task/create) 获取 task_id → 轮询查询 (GET /v1/task/query) → 获取结果。文生图和图像编辑均使用同一端点，通过 input.image_urls 参数区分模式。
  version: 1.0.0
  contact:
    name: ViralAPI Support
    url: https://viralapi.ai/api-key

servers:
  - url: https://viralapi.ai
    description: Production server

security:
  - BearerAuth: []

tags:
  - name: NanoBanana Pro
    description: "模型：`gemini-3-pro-image-preview` — 高质量生成"
  - name: Task Query
    description: 异步任务状态查询（通用）

paths:
  /v1/task/create:
    post:
      tags:
        - NanoBanana Pro
      summary: NanoBanana Pro Text to Image
      description: 创建异步图像生成任务，返回 task_id 用于后续查询。相比 NanoBanana，Pro 模型额外支持 image_size 参数（1K/2K/4K）。
      operationId: createTaskNanoBananaPro
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - task_type
                - input
              properties:
                model:
                  type: string
                  description: 模型名称，必须设置为 `gemini-3-pro-image-preview`
                  enum:
                    - gemini-3-pro-image-preview
                task_type:
                  type: string
                  description: 任务类型，必须设置为 `image`
                  enum:
                    - image
                input:
                  type: object
                  required:
                    - prompt
                  description: 输入参数
                  properties:
                    prompt:
                      type: string
                      description: 图像生成的提示词
                      minLength: 1
                      maxLength: 4096
                      example: "A futuristic banana with neon lights in a cyberpunk city"
                    image_size:
                      type: string
                      description: 输出图像分辨率，可选 1K (1024px, 默认)、2K (2048px)、4K (4096px)
                      default: "1K"
                      enum:
                        - "1K"
                        - "2K"
                        - "4K"
                    aspect_ratio:
                      type: string
                      description: 图像宽高比，默认为 `auto`
                      default: "auto"
                      enum:
                        - "auto"
                        - "1:1"
                        - "2:3"
                        - "3:2"
                        - "3:4"
                        - "4:3"
                        - "4:5"
                        - "5:4"
                        - "9:16"
                        - "16:9"
                        - "21:9"
            example:
              model: gemini-3-pro-image-preview
              task_type: image
              input:
                prompt: "A futuristic banana with neon lights in a cyberpunk city"
                image_size: "2K"
                aspect_ratio: "9:16"
      responses:
        "200":
          description: 任务创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              example:
                code: 200
                msg: success
                data:
                  task_id: "task_nano-banana-pro_1765178625768"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "402":
          $ref: '#/components/responses/PaymentRequired'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/ServerError'
        "502":
          $ref: '#/components/responses/BadGateway'

  /v1/task/create-image-edit:
    post:
      tags:
        - NanoBanana Pro
      summary: NanoBanana Pro Image Edit
      description: 基于参考图像创建异步图像编辑任务，返回 task_id 用于后续查询。注意：实际 API 端点为 POST /v1/task/create，通过传入 image_urls 参数切换为图像编辑模式。
      operationId: createImageEditTaskNanoBananaPro
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - task_type
                - input
              properties:
                model:
                  type: string
                  description: 模型名称，必须设置为 `gemini-3-pro-image-preview`
                  enum:
                    - gemini-3-pro-image-preview
                task_type:
                  type: string
                  description: 任务类型，必须设置为 `image`
                  enum:
                    - image
                input:
                  type: object
                  required:
                    - prompt
                    - image_urls
                  description: 输入参数
                  properties:
                    prompt:
                      type: string
                      description: 图像编辑的提示词，描述如何转换参考图像
                      minLength: 1
                      maxLength: 4096
                      example: "Transform this into a cyberpunk style with neon lights"
                    image_urls:
                      type: array
                      description: 输入图像的 URL 数组，最多支持 10 张图片
                      items:
                        type: string
                        format: uri
                      minItems: 1
                      maxItems: 10
                      example:
                        - "https://example.com/input-image.jpg"
                    image_size:
                      type: string
                      description: 输出图像分辨率，可选 1K (1024px, 默认)、2K (2048px)、4K (4096px)
                      default: "1K"
                      enum:
                        - "1K"
                        - "2K"
                        - "4K"
                    aspect_ratio:
                      type: string
                      description: 图像宽高比，默认为 `auto`
                      default: "auto"
                      enum:
                        - "auto"
                        - "1:1"
                        - "2:3"
                        - "3:2"
                        - "3:4"
                        - "4:3"
                        - "4:5"
                        - "5:4"
                        - "9:16"
                        - "16:9"
                        - "21:9"
            example:
              model: gemini-3-pro-image-preview
              task_type: image
              input:
                prompt: "Transform this into a cyberpunk style with neon lights"
                image_urls:
                  - "https://example.com/input-image.jpg"
                image_size: "2K"
                aspect_ratio: "9:16"
      responses:
        "200":
          description: 任务创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              example:
                code: 200
                msg: success
                data:
                  task_id: "task_nano-banana-pro_1765178625768"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "402":
          $ref: '#/components/responses/PaymentRequired'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/ServerError'
        "502":
          $ref: '#/components/responses/BadGateway'

  /v1/task/query:
    get:
      tags:
        - Task Query
      summary: Query Task Status
      description: 根据 task_id 查询异步任务的执行状态和结果。任务状态流转为 pending → processing → completed/failed。建议轮询间隔 2-5 秒，当 status 为 completed 或 failed 时停止轮询。图片链接有效期 24 小时，请及时下载。
      operationId: queryTask
      security:
        - BearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: 任务 ID（从创建任务接口返回的 `data.task_id`）
          schema:
            type: string
          example: "task_nano-banana-pro_1765178625768"
      responses:
        "200":
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponse'
              examples:
                completed:
                  summary: 任务完成
                  value:
                    create_time: 1756817821
                    complete_time: 1763088308
                    task_type: image
                    task_id: "task_nano-banana-pro_1765178625768"
                    progress: 100
                    model: "gemini-3-pro-image-preview"
                    status: completed
                    results:
                      - "https://cdn.viralapi.ai/outputs/generated-image-1.png"
                processing:
                  summary: 任务处理中
                  value:
                    create_time: 1756817821
                    complete_time: 0
                    task_type: image
                    task_id: "task_nano-banana-pro_1765178625768"
                    progress: 45
                    model: "gemini-3-pro-image-preview"
                    status: processing
                    results: []
                pending:
                  summary: 任务等待中
                  value:
                    create_time: 1756817821
                    complete_time: 0
                    task_type: image
                    task_id: "task_nano-banana-pro_1765178625768"
                    progress: 0
                    model: "gemini-3-pro-image-preview"
                    status: pending
                    results: []
                failed:
                  summary: 任务失败
                  value:
                    create_time: 1756817821
                    complete_time: 1763088308
                    task_type: image
                    task_id: "task_nano-banana-pro_1765178625768"
                    progress: 0
                    model: "gemini-3-pro-image-preview"
                    status: failed
                    results: []
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "402":
          $ref: '#/components/responses/PaymentRequired'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: 任务不存在或已过期
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: 404
                  message: "Task not found or expired"
                  type: not_found_error
                  param: task_id
        "500":
          $ref: '#/components/responses/ServerError'
        "502":
          $ref: '#/components/responses/BadGateway'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 使用 Bearer Token 进行认证。获取 API Key 请访问 https://viralapi.ai/api-key

  schemas:
    CreateTaskResponse:
      type: object
      required:
        - code
        - msg
        - data
      properties:
        code:
          type: integer
          description: 业务状态码
          enum: [200]
          example: 200
        msg:
          type: string
          description: 状态消息
          example: "success"
        data:
          type: object
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: 异步任务 ID，用于查询任务状态
              example: "task_nano-banana-pro_1765178625768"

    TaskStatusResponse:
      type: object
      required:
        - create_time
        - complete_time
        - task_type
        - task_id
        - progress
        - model
        - status
        - results
      properties:
        create_time:
          type: integer
          format: int64
          description: 任务创建时间（Unix 时间戳，秒）
          example: 1756817821
        complete_time:
          type: integer
          format: int64
          description: 任务完成时间（Unix 时间戳，秒），未完成时为 `0`
          example: 1763088308
        task_type:
          type: string
          description: 任务类型
          enum: [image]
          example: "image"
        task_id:
          type: string
          description: 任务 ID
          example: "task_nano-banana-pro_1765178625768"
        progress:
          type: integer
          description: 任务进度百分比
          minimum: 0
          maximum: 100
          example: 100
        model:
          type: string
          description: 使用的模型名称
          enum:
            - gemini-2.5-flash-image
            - gemini-3-pro-image-preview
          example: "gemini-3-pro-image-preview"
        status:
          type: string
          description: "任务状态：pending (排队等待)、processing (生成中)、completed (已完成)、failed (失败)"
          enum:
            - pending
            - processing
            - completed
            - failed
          example: "completed"
        results:
          type: array
          description: 生成的图片 URL 数组。仅 `completed` 状态时包含有效 URL。链接有效期 24 小时。
          items:
            type: string
            format: uri
          example:
            - "https://cdn.viralapi.ai/outputs/generated-image-1.png"

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - type
          properties:
            code:
              type: integer
              description: HTTP 状态码
            message:
              type: string
              description: 错误描述
            type:
              type: string
              description: 错误类型标识
            param:
              type: string
              description: 导致错误的参数名称（可选）
            fallback_suggestion:
              type: string
              description: 建议的替代方案（可选）

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: 400
              message: "Invalid request parameters"
              type: invalid_request_error
    Unauthorized:
      description: 认证失败
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: 401
              message: "Invalid or expired token"
              type: authentication_error
    PaymentRequired:
      description: 余额不足
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: 402
              message: "Insufficient account balance"
              type: payment_required
    Forbidden:
      description: 权限不足
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: 403
              message: "Access denied for this model"
              type: permission_error
              param: model
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: 404
              message: "Resource not found"
              type: not_found_error
    ServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: 500
              message: "Internal server error, please try again later"
              type: server_error
    BadGateway:
      description: 网关错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: 502
              message: "Gateway error, server temporarily unavailable"
              type: bad_gateway
