openapi: 3.0.3
info:
  title: Veo Video Generation API
  description: Gemini Veo video generation API supports text-to-video, image-to-video, frame interpolation, and reference images. Veo 3.0+ supports audio output. Veo 3.1 adds frame interpolation and reference image capabilities.
  version: 1.0.0
  contact:
    name: ViralAPI Support
    url: https://viralapi.ai/api-key

servers:
  - url: https://viralapi.ai
    description: Production server

security:
  - BearerAuth: []

tags:
  - name: Veo
    description: Veo video generation API with multiple generation modes

paths:
  /v1/videos:
    post:
      tags:
        - Veo
      summary: Create Video Generation Task
      description: Create video generation task with text-to-video, image-to-video, or frame interpolation modes. Returns task_id for status queries.
      operationId: createVideoTask
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - prompt
              properties:
                model:
                  type: string
                  description: Model name. Veo 2.0 supports basic features; Veo 3.0+ adds audio output; Veo 3.1 adds frame interpolation and reference images
                  enum:
                    - veo-2.0-generate-001
                    - veo-3.0-generate-001
                    - veo-3.0-fast-generate-001
                    - veo-3.1-generate-preview
                    - veo-3.1-fast-generate-preview
                prompt:
                  type: string
                  description: Text description for video generation (max 1024 tokens)
                  maxLength: 4096
                images:
                  type: array
                  description: Image array. 1 image for image-to-video (as first frame); 2 images for frame interpolation (first and last frames, Veo 3.1 only)
                  items:
                    type: string
                    description: Image data. Supports HTTP(S) URL, Base64 string, or Data URI
                  minItems: 1
                  maxItems: 2
                metadata:
                  type: object
                  description: Advanced configuration parameters
                  properties:
                    aspectRatio:
                      type: string
                      description: Video aspect ratio
                      enum:
                        - "16:9"
                        - "9:16"
                    durationSeconds:
                      type: integer
                      description: Video duration in seconds. Must be 8 for frame interpolation mode
                      enum:
                        - 4
                        - 6
                        - 8
                    negativePrompt:
                      type: string
                      description: Negative prompt describing unwanted elements
                    personGeneration:
                      type: string
                      description: Person generation strategy. Only allow_adult is supported, allow_all is not supported
                      enum:
                        - allow_adult
                    resolution:
                      type: string
                      description: Video resolution (refer to Gemini official documentation for specific values)
                    referenceImages:
                      type: array
                      description: "Reference image array (Veo 3.1 only, max 3 images). Guides video style without appearing directly in the video. Note: Cannot be used with frame interpolation (2 images)"
                      maxItems: 3
                      items:
                        type: object
                        properties:
                          image:
                            type: object
                            properties:
                              bytesBase64Encoded:
                                type: string
                                description: Image data. Supports Base64 string, HTTP(S) URL, or Data URI
                              mimeType:
                                type: string
                                description: Image MIME type (optional)
                                enum:
                                  - image/jpeg
                                  - image/png
                                  - image/gif
                                  - image/webp
                          referenceType:
                            type: string
                            description: Reference type. Only asset is supported
                            enum:
                              - asset
            example:
              model: veo-3.0-generate-001
              prompt: "A cute orange cat chasing butterflies in a sunny garden, slow motion, cinematic quality"
              metadata:
                aspectRatio: "16:9"
                durationSeconds: 6
      responses:
        "200":
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTaskResponse'
              example:
                id: "dmlkZW9fdGFzay0xMjM0NTY3ODkw"
                task_id: "dmlkZW9fdGFzay0xMjM0NTY3ODkw"
                object: "video.generation"
                created_at: 1704672000
                model: "veo-3.0-generate-001"
                status: "queued"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "402":
          $ref: '#/components/responses/PaymentRequired'
        "403":
          $ref: '#/components/responses/Forbidden'
        "500":
          $ref: '#/components/responses/ServerError'
        "502":
          $ref: '#/components/responses/BadGateway'

  /v1/videos/{task_id}:
    get:
      tags:
        - Veo
      summary: Query Video Task Status
      description: Query video generation task status and results. Returns video download URL when task completes.
      operationId: queryVideoTask
      security:
        - BearerAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          description: Task ID (returned from create task endpoint)
          schema:
            type: string
          example: "dmlkZW9fdGFzay0xMjM0NTY3ODkw"
      responses:
        "200":
          description: Query successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoQueryResponse'
              examples:
                in_progress:
                  summary: In Progress
                  value:
                    task_id: "dmlkZW9fdGFzay0xMjM0NTY3ODkw"
                    status: "in_progress"
                    progress: "50%"
                success:
                  summary: Generation Successful
                  value:
                    task_id: "dmlkZW9fdGFzay0xMjM0NTY3ODkw"
                    status: "success"
                    progress: "100%"
                    url: "https://viralapi.ai/v1/videos/dmlkZW9fdGFzay0xMjM0NTY3ODkw/content"
                failure:
                  summary: Generation Failed
                  value:
                    task_id: "dmlkZW9fdGFzay0xMjM0NTY3ODkw"
                    status: "failure"
                    progress: "100%"
                    fail_reason: "Content filtered by safety system: SENSITIVE_CONTENT"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Authenticate using Bearer Token. Get API Key at https://viralapi.ai/api-key

  schemas:
    VideoTaskResponse:
      type: object
      properties:
        id:
          type: string
          description: Task ID
        task_id:
          type: string
          description: Task ID (same as id)
        object:
          type: string
          description: Object type
          enum:
            - video.generation
        created_at:
          type: integer
          description: Creation timestamp (Unix seconds)
        model:
          type: string
          description: Model name used
        status:
          type: string
          description: Task status
          enum:
            - queued
            - in_progress
            - success
            - failure

    VideoQueryResponse:
      type: object
      properties:
        task_id:
          type: string
          description: Task ID
        status:
          type: string
          description: "Task status: queued (queued), in_progress (processing), success (completed), failure (failed)"
          enum:
            - queued
            - in_progress
            - success
            - failure
        progress:
          type: string
          description: Progress percentage
        url:
          type: string
          description: Video download URL (returned when status is success)
          format: uri
        fail_reason:
          type: string
          description: Failure reason (returned when status is failure)

    ErrorResponse:
      type: object
      required:
        - code
        - error
      properties:
        code:
          type: integer
          description: HTTP status code
        error:
          type: object
          required:
            - message
            - type
          properties:
            message:
              type: string
              description: Error message
            type:
              type: string
              description: Error type identifier
            param:
              type: string
              description: Parameter name that caused the error (optional)

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            error:
              message: "Invalid request parameters"
              type: invalid_request_error
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            error:
              message: "Invalid or expired token"
              type: authentication_error
    PaymentRequired:
      description: Insufficient account balance
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 402
            error:
              message: "Insufficient account balance"
              type: payment_required
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            error:
              message: "Access denied for this model"
              type: permission_error
    NotFound:
      description: Task not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            error:
              message: "Task not found or expired"
              type: not_found_error
              param: task_id
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 500
            error:
              message: "Internal server error"
              type: server_error
    BadGateway:
      description: Gateway error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 502
            error:
              message: "Gateway error, server temporarily unavailable"
              type: bad_gateway
